* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("http://themes.googleusercontent.com/static/fonts/ptsans/v5/yrzXiAvgeQQdopyG8QSg8Q.woff") format("woff");
}

@font-face {
  font-family: "PT Sans I";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url("http://themes.googleusercontent.com/static/fonts/ptsans/v5/7dSh6BcuqDLzS2qAASIeuj8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
  
@font-face {
  font-family: "Plumb-Bold";
  src: url("../fonts/plumb-bold.ttf");
  font-weight: normal; 
  font-style: normal;
}

body {
  background-color: #e9f2f7;
}

.container {
  width: 1000px;
  margin: auto;
  font-family: "PT Sans";
  font-size: 16px;
}
div
.head {
	height: 100px;
}

.head_logo {
  margin: 11px 74px 0 -10px;
  float: left;  
}

.head_menu {
	 padding-top: 42px;
}

.menu_element {
  float: left;
  list-style: none;
  margin-right: 22px;
  font-family: "PT Sans I";
  font-size: 15.78px;
}

.menu_item {
  color: #50727e;
}

.menu_item:visited {
  color: #b22c2b;
}

.menu_element_delimiter {
  color: #fcfdfe;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  padding: 30px 0 32px 3px;
  font-weight: normal;
  color: #81b5cb;
}

h2 {
  font-size: 30px;
  padding: 83px 0 33px 0px;
  font-weight: normal;
  color: #81b5cb;
  clear: both;
}

.content_info {
  padding: 0 25px 0 31px;
  width: 444px;
  float: left;
  line-height: 21px;
}

.content_info-sarkoma {
	color: #bf4140;
}

.content_info_italic {
  font-family: "PT Sans I";
  font-size: 15px;
}

.content_info_indent {
	margin-bottom: 21px;
}

.content_info_stat {
  height: 290px;
  margin: 57px 0px 0px -10px;
}

.info_graph {
	position: relative;
}

.info_graph>div {
	position: absolute;
}

.plumb {
  font-family: "Plumb-Bold";
  color: #7ab9c8;
}

.info_people {
  text-align: right;
  margin: 0 -47.5px 15px 0;
}

.info_graph-people {
  top: 47px;
  left: -16px;
}

.info_growth {
  top: 62px;
  left: 260px;
  font-size: 18.79px;
}

.info_growth-percent {
	font-size: 35.48px;
}

.info_people-digit {
	font-size: 31.47px;
}

.info_people-patient {
	font-size: 10.49px;
}

.info_stat-year1,.info_stat-year2 {
  font-family: "Plumb-Bold";
  font-size: 14px;  
}

.info_stat-year1 {
  float: left;
  margin: 8px 0 0 -12px;
}

.info_stat-year2 {
  float: right; 
  margin: 8px -38px 0 0;
}

.content_info_metas {
	margin: 80px 0 64px 0;
}

.info_percent {
  font-size: 120px;
  padding: 10px 0 0 100px;
}

.info_percent>span {
	font-size: 100px;
	padding-left: 5px;
}

.info_result {
  width: 200px;
  height: 185px;
  padding: 52px 0 0 137px;
}

.info_result_1 {
  font-size: 15px;
  margin: 18px 0 10px 0;
  line-height: 17px;
}

.info_result_2 {
  height: 1px;
  border-bottom: 2px dotted #7ab9c8;
}

.info_result_3 {
  font-size: 13.03px;
  margin-top: 13px;
  line-height: 20.04px;
}

.content_info-text {
	font-size: 14px;
	margin-bottom: 15px;
}

.foot {
  clear: both;
  padding: 63px 25px 0px 30px;
}

.foot_line1 {
  height: 1px;
  width: 750px;
  border-bottom: 2px solid #ffffff;
  float: left;  
}

.foot_line2 {
  height: 1px;
  width: 195px;
  float: right;
  border-bottom: 2px solid #d4999b;
}

.foot_line1,.foot_line2 {
	margin-bottom: 16px;
}

.foot_info {
  width: 200px;
  height: 110px;
  margin-right: 50px;
  font-size: 12px;
  line-height: 16px;
  float: left;
}

.foot_info-text {
	margin-bottom: 11px;
}

.foot_info-item {
  display: block;
  color: #1782a9;
  margin-top: -5.5px;
}

.foot_copyright {
	font-size: 12.5px;
}
